.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  color: #ffffff; /* Text color */
  background-image: linear-gradient(45deg, #ffbf00, #ff007f); /* Gradient colors */
  background-clip: text; /* Clip the background to the text */
  -webkit-background-clip: text; /* For Safari */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  color: grey;
  text-align: center;
  padding: 64px 20px 20px 0;
  font-size: small;
}

.button {
  position: relative;
  display: inline-block;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  max-width: 100%;
  width: var(--max-width);
  justify-items: center;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
